body{
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.253);
    margin-top: 0;
    position: fixed;
    /* border: 2px solid red; */
    width: 100%;
}
#logo{
    position: absolute;
    height: 90px;
    width: 100px;
/*     animation-fill-mode: ;
    animation: none 0.5s ease-in delay iteration-count right none; */
    /* border: 2px solid red; */
}
#logo-text{
    position: absolute;
    height: 90px;
    width:200px;
    color: white;
    /* margin-top: 1px; */
    margin-left: 110px ;
    font-size: 50px;
    line-height: 50px;
    /* border: 2px solid red; */
}
.left{
    height:90px;
    width:270px;
    /* border: 2px solid red; */
}
.mid{
    /* border: 2px solid red; */
    display: flex;
    text-decoration: none;
    margin: auto;
    /* justify-content: center; */
    list-style: none;
}
.mid li{
    color: white;
    padding: 15px 10px;
    margin-top: 15px;
    /* border: 2px solid red; */
    font-size: 25px;
    width:130px;
    text-align: center;
}
.mid li:hover{
    background-color: rgba(114, 116, 43, 0.432);
}
.mid li:active{
    background-color: rgba(238, 255, 0, 0.705);
    box-shadow: 0 0 15px rgba(238, 255, 0, 0.705);
}
.right{
    position: relative;
    margin-right: 20px;
    /* border: 2px solid red; */
}
.right input{
    margin-top: 30px;
    padding: 10px;
    background-color: transparent;
    border: none;
    
    
}
.right input[type=search]{
    border-bottom:1px solid yellow ;
    color: yellow;
    
}
.right input[type=search]:active{
    border: none;
}

.right input[type=button]{
    margin-top: 25px;
    
    background-image:linear-gradient(rgb(100, 100, 0) 0%,yellow 20%, rgb(100, 100, 0) 100%); 
}
.right input[type=button]:active{
    /* background-image:linear-gradient(rgb(100, 100, 0) 0%,yellow ); */
    background-image:linear-gradient(rgb(185, 185, 39),rgb(185, 185, 39));
}
.intro{
    display: inline-block;
}
.form{
    /* float: right; */
    color: white;
    position: absolute;
    top:150px;
    margin-right: 10%;
    margin-top: 20px;
    /* display: inline-flex; */
    /* margin: 20px 25px; */
    padding:15px;
    background-color: rgba(190, 205, 50, 0.473);
    font-size: 20px;
    font-family:cursive;
    font-style:italic;
        border: 2px solid red;
}
.form input{
    margin:5px auto;
    width:354px;
    padding:10px;
}
.form input[type=submit]{
    /* margin: auto; */
    /* justify-content: center; */
    margin-top: 15px;
    width:100%;

}
